/* phones */
@media(max-width:415px){
    .title{
        font-size: 50px;
    }

    #search-form{
        grid-template-columns: 1fr;
        margin: 3% auto 3% 3.5%;
    }

    #search, #location{
        width: 350px;
    }

    .search-button{
        border-radius: 10px;
        margin: auto;
    }

    .cards{
        grid-template-columns: 1fr;
        margin-top: 5%;
        grid-gap: 1.5%;
    }

    footer{
        display: block;
        margin-top: 100%;
    }
}

/* ipads */
@media(max-width:1024px) and (min-width:768px){
    .title{
        font-size: 60px;
    }

    #search-form{
        grid-template-columns: repeat(2,1fr);
        margin: 3% auto 3% 1.8%;
    }

    #search, #location{
        width: 350px;
    }

    .search-button{
        border-radius: 10px;
        margin: 5% auto auto 75%;
    }

    .cards{
        grid-template-columns: repeat(2,1fr);
        margin-top: 5%;
    }

    footer{
        display: block;
        margin-top: 20%;
    }
}