:root{
    --roboto:'Roboto', sans-serif;
    --montserrat:'Montserrat', sans-serif;

    --bg-color:#F9F9F9;
    --placeholder-color:#686868;
    --primary-color:#fff;
    --secondary-color:#181818;
    --border-color:#707070;
    --card-footer-color:#0837A5;
}

[data-theme="dark"] {
    --primary-color: #181818;
    --secondary-color: #fff;
    --bg-color: #202020;
    --placeholder-color:#e1e1ff;
    --card-footer-color:#46a1a1;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--montserrat);
}

p{
    font-family: var(--roboto);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.title{
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    background: url('img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
}

/* dark mode button */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0.8% auto;
}
.theme-switch-wrapper i{
    font-size: 27px;
    transition: 0.5s ease-in;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #66bb6a;
}
input:checked + .slider:before {
    transform: translateX(35px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

#search-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5%;
    margin: 3% auto 3% 5%;
    justify-content: center;
    align-items: center;

}

#search, #location{
    width: 500px;
    padding:3%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color:var(--primary-color);
}

#search::placeholder, #location::placeholder,#search, #location{
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: lighter;
    color: var(--placeholder-color);
    text-align: center;
}

.search-button{
    font-family: var(--roboto);
    font-size: 20px;
    color: #fff;

    border: 1px solid;
    background: #63BABA;
    border-radius: 15px;
    padding: 4%;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.search-button:hover{
    background: #46a1a1;
    transition: 0.5s ease;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3%;
    margin: 2% auto;
    padding: 2% 5%;
}

.card-data{
    text-align: left;
    padding: 4% 0 4% 8%;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background: var(--primary-color);
    box-shadow: 5px 5px 6px rgba(0,0,0,0.16);
}

.card-data:nth-child(2n+1){
    border-left: 5px solid rgb(219, 20, 20);
}
.card-data:nth-child(2n+0){
    border-left: 5px solid rgb(19, 194, 238);
}
.card-data:nth-child(5n+2){
    border-left: 5px solid rgb(17, 206, 48);
}

.job-posting-time{
    font-size: 12px;
    color: var(--placeholder-color);
    padding-bottom: 4%;
}

.job-posting-time span{
    font-weight: 650;
}

.card-data p{
    color: var(--secondary-color);
    font-size: 16px;
    padding-bottom: 3%;
}

.card-data h3{
    font-size: 18px;
    color:var(--secondary-color);

    max-width: 80%;
    padding-bottom: 4%;
}

.card-data h4{
    font-size: 16px;
    padding-bottom: 3.5%;
    max-width: 80%;
    color: var(--secondary-color);
}

.card-footer p{
    font-size: 16px;
    color: var(--card-footer-color);
    max-width: 80%;
}

.card-footer a{
    font-family: var(--roboto);
    font-size: 16px;
    color: var(--card-footer-color);
}

.card-footer a:hover{
    text-decoration: underline;
    color: #072977;
}

footer{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}

footer p{
    font-family: var(--montserrat);
    font-size: 18px;
    color: var(--secondary-color);
}

footer a{
    text-decoration: underline;
    color:var(--secondary-color);
}
