:root{
    --roboto:'Roboto', sans-serif;
    --montserrat:'Montserrat', sans-serif;

    --bg-color:#F9F9F9;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--montserrat);
}

p{
    font-family: var(--roboto);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.title{
    font-size: 105px;
    text-align: center;
    font-weight: 500;
    background: url('img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.top-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5%;
    margin: 3% auto 3% 5%;
    justify-content: center;
    align-items: center;

}

#Searchbar1, #Searchbar2{
    width: 500px;
    padding:4%;
    border: 1px solid #707070;
    border-radius: 10px;
}

#Searchbar1::placeholder, #Searchbar2::placeholder,#Searchbar1, #Searchbar2{
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: lighter;
    color: #686868;
    text-align: center;
}

.Search-button{
    font-family: var(--roboto);
    font-size: 20px;
    color: #fff;

    border: 1px solid;
    background: #63BABA;
    border-radius: 15px;
    padding: 4%;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.Search-button:hover{
    background: #46a1a1;
    transition: 0.5s ease;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3%;
    margin: 2% auto;
    padding: 2% 5%;
}

.card-data{
    text-align: left;
    padding: 4% 0 4% 8%;
    border: 1px solid #707070;
    border-radius: 15px;
    background: #fff;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.16);
    cursor: pointer;
}


.card-data p{
    color: #202020;
    font-size: 18px;
    padding-bottom: 3%;
}

.job-posting-time{
    font-size: 15px;
    color: #686868;
    padding-bottom: 3%;
}

.card-data h3{
    font-size: 20px;
    color: #202020;

    padding-bottom: 3%;
}

.card-footer p{
    font-size: 20px;
    color: #0837A5;
    max-width: 80%;
}

footer{
    text-align: center;
    padding-top: 3%;
}

footer p{
    font-family: var(--montserrat);
    font-size: 15px;
    color: #202020;
}

footer a{
    text-decoration: underline;
    color: #000;
}
